{
  "fb-messenger": {
    "hub.mode": "add-value-here",
    "hub.verify_token": "add-value-here",
    "access_token": "fb-token"
  },
  "fb-profile": {
    "user-info": "https://graph.facebook.com/v2.6/{user_id}?fields=first_name,last_name,profile_pic,gender&access_token={token}"
  },
  "google": {
    "cloud-vision": "cv-token"
  }
}